<!doctype html>
<html>
<head>
  <title>The Game</title>
</head>
<body>
    <form action="/madlib">
       Name of the person: <input type="text" name="person">
       <br>
       Which color:
       <select name="color">
        <option>Red</option>
        <option>Blue</option>
        <option>Green</option>
        <option>Pink</option>
       </select>
       <br>
       A noun:
       <input type="radio" name="noun" value="book">Book
       <input type="radio" name="noun" value="dog">Dog
       <input type="radio" name="noun" value="cat">Cat
       <br>
       An Adjective: <input type="text" name="adjective">
       <br>
       <input type="submit">

     
    </form>
</body>
</html>