{% extends 'base.html' %}
{% block title %}
The Game
{% endblock %}

{% block body %}
    <form action="/madlib" method="GET">
       Name of the person: <input type="text" name="person">
       <br>
       Which color:
       <select name="color">
        <option>Red</option>
        <option>Blue</option>
        <option>Green</option>
        <option>Pink</option>
       </select>
       <br>
       A noun:
       <input type="radio" name="noun" value="book">Book
       <input type="radio" name="noun" value="dog">Dog
       <input type="radio" name="noun" value="cat">Cat
       <br>
       An Adjective: <input type="checkbox" name="adjective" value="nice">Nice
       <input type="checkbox" name="adjective" value="cool">Cool
       <input type="checkbox" name="adjective" value="nasty">Nasty
       <br>
       <input type="submit">
    </form>
{% endblock %}