{% extends 'base.html' %}
{% block title %}
Medlib
{% endblock %}

{% block body %}
    <h1>Your madlib.</h1>

    <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally

        {% if adjective|length > 2 %}
            {% for adj in adjective[:-1] %}
                {{ adj }},
            {% endfor %}
                and {{ adjective[-1] }}
        {% elif adjective|length == 2 %}
            {{ adjective[0] }} and {{ adjective[1] }}
        {% else %}
            {{ adjective[0] }}
        {% endif %}
    way.
    </p>
{% endblock %}